body {
  font: 20px/1.3 'BasisGrotesquePro-Regular', 'CircularStd-Medium';
  letter-spacing: 1px;
  color: #1C1C4A;
  padding: 0;
  margin: 0;
}
/* Global */
.container {
  width: 70%;
  display: flex;
  /* flex-direction: row; */
  margin: auto;
  overflow: hidden;
}

/* Header */
header {
  font-family: 'CircularStd-Book';
  background-color: white;
  color: #000000;
  min-height: 110px;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  width: 100%;
}

header a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 20px 20px 20px;
}

header a:hover {
  color: #FF6D00;
}

header #branding img{
  width: 45px;
  height: 58px;
  position: relative;
  margin-top: 21px;
  margin-bottom: 21px;
}

header h1 {
  display: inline;
  padding-left: 20px;
}

header nav {
  margin-top: 51px;
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/* Showcase. Section 1. */
.showcase {
  padding-top: 186px;
  padding-bottom: 156px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.showcase-box1 {
  flex-basis: 45%;
}

.showcase-box1 h1 {
  font-family: 'BasisGrotesquePro-Light';
  font-weight: lighter;
  display: inline;
  font-size: 58px;
}

.showcase-box-1-bold {
  font-family: 'CircularStd-Bold';
}

.showcase-box2 {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.showcase-box2 #showcase-2-title p {
  font-size: 20px;
  line-height: 1.8;
  font-family: 'BasisGrotesquePro-Light';
}

.showcase-box2 a, #want-to-know a{
  font-family: 'CircularStd-Medium';
  font-size: 16px;
  color: #FF6D00;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  flex-basis: 200px;
  padding: 0 80px 7px 0;
  border-bottom: #FF6D00 3px solid;
}


/* Arrow */
.arrow {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.arrow i {
  color: #FF6D00;
}


/* What do we offer */
.section-background {
  background-color: #F9F9F9;
  height: 861px;
}

.what-we-offer {
  display: flex;
  flex-direction: column;
}

#container-2-title {
  display: flex;
  flex-direction: row;
  padding-top: 70px;
  align-items: center;
  justify-content: center;
}

#container-2-title h2 {
  font-family: 'CircularStd-Bold';
  font-size: 30px;
  flex: 1;
}

#container-2-title p {
  font-family: 'BasisGrotesquePro-Light';
  font-size: 16px;
  line-height: 1.8;
  flex: 2;
}

#section-2-list {
  display: inline-flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
}

.options {
  width: 200px;
  margin: 40px 0 50px 0;
  margin-right: 50px; 
  padding-bottom: 10px;
  border-bottom: #1C1C4A 1px solid;
}

.options:hover {
  border-bottom: #FF6D00 1px solid;
}

#section-2-list a:hover {
  color: #FF6D00;
}
/* Legacy. Make all hovered area as common. */
#section-2-list a {
  font-family: 'CircularStd-Medium';
  font-size: 20px;
  color: #1C1C4A;
  text-decoration: none;
}

#section-2-list i {
  float: right;
  color: #FF6D00;
  margin-top: 3px;
}

/* Benefits */
.container-3 {
  display: flex;
  position: relative;
  margin-left: 10%;
  margin-top: -330px;
  background-color: #1B166F;
  padding: 54px 0 70px 0;
}

.benefits {
  flex-direction: row;
  color: white;
}

.container-3-title {
  margin: 0 15% 0 7%;
  flex-basis: 45%;
}

.container-3-title h2 {
  font-family: 'CircularStd-Bold';
  font-size: 30px;
}

.container-3-title p {
  font-family: 'BasisGrotesquePro-Light';
  font-size: 16px;
  line-height: 1.8;
}

.container-3-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-benefits {
  flex-basis: 50%;
  margin: 30px 0 0 0;
}

.box-benefits img {
  width: 66px;
  height: 66px;
}

.box-benefits h3 {
  font-family: 'CircularStd-Book';
  font-size: 16px;
}

/* Our clients */
.our-clients {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  align-content: center;
}

#container-4-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

#container-4-title h2 {
  font-family: 'CircularStd-Bold';
  font-size: 30px;
  flex: 1;
}

#container-4-title p {
  font-family: 'BasisGrotesquePro-Light';
  font-size: 16px;
  line-height: 1.8;
  flex: 5;
}

#box-clients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#box-clients .client {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

#box-clients .client h2 {
  font-family: 'BasisGrotesquePro-Light';
  font-size: 16px;
}

#box-clients .client a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#box-clients img {
  width: 77px;
  height: 77px;
}

/* People about us. */
.about-us {
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
  padding: 50px 0 50px 0;
}

.about-us h2 {
  font-family: 'CircularStd-Bold';
  font-size: 30px;
  margin: 30px 0 50px 0;
}

#about-boxes {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

#about-boxes .about-box {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  align-items: left;
}

#about-boxes .about-box img {
  width: 194px;
  height: 214px;
}

#about-boxes .about-box h3 {
  font-family: 'CircularStd-Book';
  font-size: 14px;
  margin: 10px 0;
  padding-bottom: 10px;
}

#about-boxes .about-box h4 {
  font-family: 'CircularStd-Book';
  font-size: 14px;
  margin: 0;
  padding-bottom: 1px;
}

#about-boxes .about-box p {
  font-family: 'BasisGrotesquePro-Light';
  font-size: 14px;
  padding-bottom: 14px;
}


/* Our team */
.our-team {
  display: flex;
  flex-direction: column;
  background-color: #1B166F;
  padding: 30px 0 30px 0;
}

.our-team #team-title {
  color: white;
  font-family: 'CircularStd-Bold';
  font-size: 30px;
  margin: 30px 0 10px 0;
}

.our-team #team-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
.team-box {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  align-items: left;
  /* justify-content: center */
}

.team-box img {
  width: 217px;
  height: 307px;
}

.team-box h3 {
  font-family: 'CircularStd-Book';
  font-size: 14px;
  margin: 10px 0;
  padding-bottom: 10px;
}

.team-box h4 {
  font-family: 'CircularStd-Book';
  font-weight: lighter;
  font-size: 14px;
  margin: 0;
  padding-bottom: 1px;
}

.team-box p {
  font-family: 'BasisGrotesquePro-Light';
  font-size: 14px;
  margin: 5px 0 3px 0;
  /* padding-bottom: 5px; */
}

.primary-paragraph {
  margin-top: 10px;
}

.secondary-paragraph {
  color: #FF6D00;
}

/* Want to know */
#request {
  background-color: #F9F9F9;
  margin: 0%;
  padding: 50px 0;
}

#want-to-know {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#want-to-know p {
  margin-right: 10%;
  margin-top: 20px;
}

#want-to-know a {
  margin-top: 20px;  
}

#request hr {
  background-color: grey;
  margin-top: 50px;
  width: 70%;
}


/* Footer */

footer {
  background-color: #F9F9F9;
}

#footer-content {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}

.footer-box {
  display: flex;
  flex-direction: column;
}

.footer-box h4 {
  font-family: 'BasisGrotesquePro-Light';
  font-weight: lighter;
  font-size: 16px
}

.footer-box a {
  font-family: 'CircularStd-Book';
  font-size: 12px;
  padding: 5px 0;
  text-decoration: none;
  text-transform: uppercase;
}

#subscribe-form h4 {
  font-family: 'BasisGrotesquePro-Light';
  font-weight: lighter;
  font-size: 16px
}



/* Form */



/* Footer branding */
#footer-branding {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

#footer-branding a {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  text-decoration: none;
}

#footer-branding h1 {
  font-family: 'CircularStd-Book';
  margin-top: 35px;
  font-size: 14px;
  padding-left: 20px;
}

#footer-branding p {
  font-family: roboto;
  font-size: 14px;
  margin-top: 35px;
}